.play-album-detail
    display: flex
    margin-top: 5%
    margin-left: 15%
    text-align: center

.play-album__background
    background-image: url('../backgrounds/white-headphone-lighter.jpg')
    background-size: cover
    background-attachment: fixed

.play-album-titles
    display: flex
    justify-content: center

.play-album-name
    font-size: 45px
    margin-right: 5%

.play-album-artist
    font-size: 45px

.play-album-songs
    width: 60%
    font-size: 20px
    font-weight: bold
    display: flex
    flex-direction: column
    align-items: flex-start

.play-album__pic
    width: 65%
    border: 2px solid white

.fas.fa-play-circle, .fas.fa-star
    cursor: pointer

.fas.fa-play-circle:hover
    color: grey

.favourite
    color: crimson




