.best-selling
    display: flex

.best-selling__display
    display: flex
    justify-content: space-between
    border: 2px solid black
    width: 80%
    margin-left: 5%
    background-color: white

.best-selling__title
    color: white
    margin-left: 3%

.best-selling__pic
    width: 15%

.best-selling__buy
    display: flex
    flex-direction: column
    justify-content: space-evenly
    margin-right: 10px

.best-selling__info
    align-self: center
    margin-right: 100px

.best-selling__artist
    margin-bottom: 10px
    font-size: 20px
    font-weight: bolder


.best-selling__button
    background-color: #32fa00d7
    color: white
    border-radius: 5px
    border: 1px solid black
    height: 45%
    font-weight: bolder
    cursor: pointer

.best-selling__price, .best-selling__album
    font-size: 20px
    font-weight: bolder