* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

html {
  background-color: #0e5061;
}

main {
  background-color: #0e5061;
}

header {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #0e5061;
}

.nav {
  top: -20px;
  left: 0;
  right: 0;
  margin: 20px auto;
  width: 90%;
}

.upper-header {
  position: relative;
  z-index: 10;
}

.upper-header ul {
  list-style: none;
}

.upper-header > ul {
  display: table;
  width: 100%;
  background-color: black;
  position: relative;
}

.upper-header > ul li {
  display: table-cell;
}

.upper-header > ul li a {
  color: white;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.upper-header > ul > li > a span {
  background: #174459;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: -55px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.upper-header > ul > li > a span .fas {
  display: block;
  line-height: 60px;
}

.upper-header > ul > li > a:hover > span {
  top: 0;
}

.upper-header ul li a .user {
  background: #0e5061;
}

.upper-header ul li a .logo {
  background: #f25724;
}

.upper-header ul li a .buy {
  background: #0e5061;
}

.upper-header ul li a .search {
  background: #37a4d9;
}

.categories ul {
  list-style: none;
}

.categories > ul {
  display: table;
  width: 100%;
  background-color: black;
  position: relative;
}

.categories > ul li {
  display: table-cell;
}

/*Submenu*/
.categories > ul > li:hover > ul {
  display: block;
  height: 100%;
}

.categories > ul > li > ul {
  display: block;
  position: absolute;
  background-color: black;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.categories > ul li a {
  color: white;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.categories > ul > li > ul > li a:hover {
  background: #5da5a2;
}

.categories > ul > li > a span {
  background: #174459;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: -55px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.categories > ul > li > a span .fas {
  display: block;
  line-height: 60px;
}

.categories > ul > li > a:hover > span {
  top: 0;
}

.categories ul li a .home {
  background: #0e5061;
}

.categories ul li a .genres {
  background: #5da5a2;
}

.categories ul li a .years {
  background: #f25724;
}

.categories ul li a .sellings {
  background: #174459;
}

.categories ul li a .modum {
  background: #37a4d9;
}

.landing__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  background-color: white;
  border: 1px solid black;
  border-radius: 3%;
  margin: 5px;
  margin-bottom: 65px;
  padding: 6px;
  box-shadow: 2px 4px 122px -56px #fafafa;
  cursor: pointer;
}

.landing__album-picture {
  width: 100%;
  align-self: center;
  margin-bottom: 10px;
  border: 1px solid black;
}

.landing__pop {
  display: flex;
  justify-content: space-evenly;
}

.landing__title {
  margin-bottom: 15px;
  cursor: pointer;
}

.landing__genre-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.863);
}

.landing__button {
  background-color: #32fa00d7;
  color: white;
  border-radius: 12px;
  border: 1px solid black;
  width: 40%;
  height: 5vh;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
}

.landing__details {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.album-detail {
  display: flex;
  margin: 40px 40px 0 40px;
}

.album-titles {
  display: flex;
  justify-content: space-around;
}

.album-name, .album-artist, .album-rating, .album-genre {
  color: rgba(255, 255, 255, 0.863);
  font-size: 45px;
}

.album-songs {
  color: rgba(255, 255, 255, 0.753);
  margin-left: 100px;
  font-size: 25px;
  font-weight: bold;
}

.reproductor {
  border: 1px solid black;
}

.profile-detail {
  display: flex;
}

.profile-detail__name {
  text-align: center;
  font-size: 30px;
}

.profile-detail__avatar {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin: 20px;
}

.profile-detail__form {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  font-size: 20px;
}

.profile-detail__info {
  width: 100%;
}

.profile-detail__listened {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-detail__title, .profile-detail__artist, .profile-detail__purchased-list {
  text-align: center;
  font-size: 35px;
}

.profile-detail__song {
  font-size: 30px;
  color: grey;
  margin: 10px;
}

.profile-detail__fav-artist {
  text-align: center;
}

.profile-detail__artist-name {
  font-size: 30px;
  color: grey;
  text-align: center;
}

.profile-detail__artist-pic {
  width: 30%;
}

.profile-detail__purchased-albums {
  display: flex;
  text-align: center;
}

.profile-detail__purchased-pic {
  width: 45%;
}

.best-selling {
  display: flex;
}

.best-selling__display {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  width: 80%;
  margin-left: 5%;
  background-color: white;
}

.best-selling__title {
  color: white;
  margin-left: 3%;
}

.best-selling__pic {
  width: 15%;
}

.best-selling__buy {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 10px;
}

.best-selling__info {
  align-self: center;
  margin-right: 100px;
}

.best-selling__artist {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.best-selling__button {
  background-color: #32fa00d7;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 45%;
  font-weight: bolder;
  cursor: pointer;
}

.best-selling__price, .best-selling__album {
  font-size: 20px;
  font-weight: bolder;
}

.my-albums__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  background-color: white;
  border: 1px solid black;
  border-radius: 3%;
  margin: 5px;
  margin-bottom: 65px;
  padding: 6px;
  box-shadow: 2px 4px 122px -56px #fafafa;
  cursor: pointer;
}

.my-albums__play {
  align-self: flex-end;
}

.my-albums__album-picture {
  width: 100%;
  align-self: center;
  margin-bottom: 10px;
  border: 1px solid black;
}

.my-albums__display {
  display: flex;
  justify-content: space-evenly;
}

.my-albums-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.863);
}

.play-album-detail {
  display: flex;
  margin-top: 5%;
  margin-left: 15%;
  text-align: center;
}

.play-album-titles {
  display: flex;
  justify-content: center;
}

.play-album-name {
  color: rgba(255, 255, 255, 0.863);
  font-size: 45px;
  margin-right: 5%;
}

.play-album-artist {
  color: rgba(255, 255, 255, 0.863);
  font-size: 45px;
}

.play-album-songs {
  color: rgba(255, 255, 255, 0.753);
  width: 60%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.play-album__pic {
  width: 75%;
  border: 2px solid white;
}

.playlist-main {
  display: flex;
}

.playlist__pic {
  width: 33%;
}

.playlist__display-pic {
  margin-left: 10%;
  width: 15%;
}

.playlist__name {
  font-size: 4rem;
}

.playlist__display-name {
  align-self: center;
}

.playlist__categories {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin-top: 3%;
  margin-right: 4%;
  margin-left: 4%;
}

.playlist__group {
  display: flex;
  flex-direction: column;
}

.playlist__songs {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  margin-top: 1%;
}

.playlist__title {
  margin-left: 14%;
}

.playlist__artist {
  margin-left: 9%;
}

.playlist__album {
  margin-left: 5%;
}

.playlist__time {
  margin-left: 4%;
}

.buy {
  display: flex;
  justify-content: center;
}

.buy__display {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 5%;
  background-color: white;
  padding: 2%;
}

.buy__title {
  color: white;
  margin-left: 3%;
  border-bottom: 1px solid grey;
}

.buy__pic {
  width: 15%;
}

.buy__buy {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 10px;
}

.buy__info {
  align-self: center;
  margin-right: 100px;
}

.buy__artist {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.buy__button {
  background-color: #32fa00d7;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 45%;
  font-weight: bolder;
  cursor: pointer;
  margin: 4%;
}

.buy__total__pay {
  background-color: #32fa00d7;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 45%;
  font-weight: bolder;
  cursor: pointer;
  font-size: 25px;
  padding: 1%;
  cursor: pointer;
}

.buy__price {
  font-size: 25px;
  font-weight: bolder;
  color: #740303d7;
  text-align: center;
}

.buy__album {
  font-size: 20px;
  font-weight: bolder;
}

.buy__total {
  border-top: 1px solid grey;
  margin-left: 3%;
}

.buy__total-price {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bolder;
  color: #250202ea;
  margin-right: 23%;
  margin-top: 1%;
}

.buy__total-card {
  display: flex;
  justify-content: flex-end;
  margin-right: 23%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.buy__quantity {
  display: flex;
}

.buy__quantity-input {
  width: 15%;
}

.card__border {
  border: 1px solid black;
  width: 30%;
  height: 42vh;
  border-radius: 8%;
  background-image: url("card.jpg");
  background-size: cover;
}

.card__display {
  display: flex;
  justify-content: center;
}

.card__details {
  margin-top: 15%;
  margin-left: 8%;
  font-weight: bolder;
  color: white;
}

.card__logo {
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  margin-top: 6%;
  margin-right: 7%;
}

.card__date-display, .card__numbers-display {
  display: flex;
  justify-content: center;
}

.card__numbers {
  font-size: 30px;
  margin-right: 8%;
  margin-bottom: 6%;
}

.card__date {
  margin-bottom: 6%;
}

.card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__input {
  width: 40%;
  margin: 1%;
  font-size: 20px;
}

.card__title {
  color: white;
  margin-left: 3%;
  margin-bottom: 2%;
  border-bottom: 1px solid grey;
}

.card__button-display {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.card__button {
  background-color: #32fa00d7;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  height: 35%;
  font-weight: bolder;
  cursor: pointer;
  font-size: 25px;
  padding: 1%;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
